/* Visualização em Tablet */
@media (min-width: 768px) {
  .container {
    flex-direction: column;
  }

  /* Header */

  .header .container {
    flex-direction: row;
  }

  .logo {
    margin: 0px 20px 20px 0px;
    max-width: 300px;
  }

  .menu {
    margin: 0 0 0 auto;
    align-self: center;
  }

  .menu ul li a {
    padding: 1em;
  }

  /* Slide */

  .principal_slides ul li img {
    width: 100vw;
    height: 30vh;
  }

  /* Principal */
  .principal {
    text-align: left;
  }

  .principal_conteudo {
    display: inline-flex;
  }

  .principal_conteudo img {
    max-width: 50%;
  }

  .principal_conteudo p {
    text-align: center;
    max-width: 50%;
    align-self: center;
    margin-left: 5px;
  }

  /* Informacoes */

  .informacoes {
    text-align: left;
  }

  .informacoes h1 {
    text-align: center;
  }

  .informacoes_conteudo {
    display: inline-flex;
  }

  .informacoes_conteudo img {
    max-width: 50%;
  }

  .informacoes_conteudo p {
    text-align: center;
    max-width: 50%;
    align-self: center;
    margin-left: 5px;
  }

  /* Serviços - CSS */

  .imagem_principal img {
    width: 100vw;
    height: 30vh;
  }
  /* Servicos */
  .servicos {
    text-align: center;
  }

  .servicos .container {
    flex-direction: row;
  }

  .principal_servico {
    margin: 0 10px 40px 10px;
  }

  .principal_servico h1 {
    margin: 30px 0;
    text-transform: capitalize;
  }

  .principal_servico p {
    margin-top: 10px;
  }

  /* Sobre - CSS */
  .apresentacao .container {
    flex-direction: row;
  }

  .apresentacao_img img {
    max-width: 40%;
    height: 220px;
    margin: 0 1em 0 1em;
  }
}

/* Visualização em Desktop */
@media (min-width: 1024px) {
  /* Header */
  .menu ul li a {
    padding: 1em;
  }

  /* Slide */
  .principal_slides ul li img {
    height: 400px;
  }

  /* Apresentação */
  .apresentacao {
    padding: 60px 0 60px 0;
  }

  .apresentacao h2 {
    margin-bottom: 1em;
  }

  /* Principal */
  .principal {
    padding: 20px 0 20px 0;
    text-align: center;
  }

  .principal_conteudo {
    border: 2px solid #000000;
  }

  .principal_conteudo img {
    padding: 0px 0px 0px 0px;
    max-width: 30%;
  }

  .principal_conteudo p {
    max-width: 70%;
    padding: 0px 30px 0px 30px;
  }

  /* Informacoes */

  .informacoes {
    padding: 20px 0 20px 0;
    text-align: center;
  }

  .informacoes h1 {
    text-align: center;
  }

  .informacoes_conteudo {
    display: inline-flex;
    border: 2px solid #ffffff;
  }

  .informacoes_conteudo img {
    padding: 0px 0px 0px 0px;
    max-width: 30%;
  }

  .informacoes_conteudo p {
    max-width: 70%;
    padding: 0px 30px 0px 30px;
  }

  /* Serviços - CSS */
  .imagem_principal img {
    width: 100vw;
    height: 40vh;
  }
  /* Servicos */
  .principal_servico {
    margin: 0 auto 40px auto;
  }

  .principal_servico p {
    margin-top: 0;
  }
}
