/* Servicos */
.servicos {
  text-align: center;
  margin-bottom: 20px;
}

.servicos h1 {
  margin: 1em 0 0.5em 0;
  text-transform: capitalize;
  font-size: 1.5em;
}

.principal_servico {
  flex: 1;
  max-width: 350px;
  margin: 0 auto 20px auto;
}

.principal_servico img {
  max-width: 100%;
}

.principal_servico p {
  margin-top: 10px;
  display: block;
}
