/* Apresentação - pode ser formatado igual ao da pagina home e adicionado ao style*/
.apresentacao h1 {
  text-transform: capitalize;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

.apresentacao p {
  margin-bottom: 2em;
}

.apresentacao .apresentacao_img img {
  margin-bottom: 1em;
}

/* Apresentação 2 */
.segunda_apresentacao {
  text-align: center;
  margin: 1em auto 0 auto;
  padding: 2em 0 5em 0;
  border-top: #000000 solid 2px;
  border-bottom: #000000 solid 2px;
  background: #2294d2;
  color: #ffffff;
}

.segunda_apresentacao h1 {
  text-transform: capitalize;
  font-size: 2em;
  margin-bottom: 0.5em;
}
