/* Reset */

body,
h1,
h2,
p,
ul {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000000;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Header */

.header {
  background: #000000;
  padding: 20px 0 20px 0;
}

.logo {
  margin: 0px auto 20px auto;
  max-width: 80%;
}

.menu {
  margin: 0 auto;
  max-width: 100%;
  align-self: center;
}

.menu ul {
  display: inline-flex;
}

.menu ul li a {
  padding: 0.35em;
}

.menu ul li a:first-child {
  padding-left: 0;
}

.menu a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.115em;
  text-transform: uppercase;
}

/* Slide */

.principal_slides ul li img {
  width: 100%;
  height: 160px;
}

/* Apresentação */
.apresentacao {
  padding: 20px 0 20px 0;
  text-align: center;
}

.apresentacao h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* Principal */
.principal {
  padding: 20px 0 20px 0;
  text-align: center;
}

.principal_conteudo {
  margin-bottom: 30px;
}

.principal_conteudo img {
  padding: 0px 0px 10px 0px;
}

/* Rodapé */
.footer {
  padding: 20px 0 20px 0;
  text-align: center;
  background: lightgray;
  text-transform: uppercase;
  font-size: 0.6em;
}

/* JS - Slides */

.js [data-slide] {
  position: relative;
}
.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 1000ms;
}

[data-slide-nav] {
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 0.3em;
}
[data-slide-nav] > button {
  display: inline-block;
  width: 0.4em;
  margin: 0.3em 0.1em;
  height: 0.35em;
  border: none;
  padding: 0em;
  border-radius: 0.6em;
  background: #1d1d1d;
  text-indent: -100em;
  overflow: hidden;
}
[data-slide-nav] > button.active {
  background: grey;
}
